body {
    background: #eee;
    font-family: sans-serif;

}

.container {
    display: flex;
    /* Enables flexbox for the container */
    justify-content: space-around;
    /* Distributes space around items */
    /* Other properties like align-items, gap, etc., can be added */
}

.bluebox {
    /* Define styles for your boxes, e.g., width, background-color, padding */
    width: 48%;
    /* Example width, adjust as needed */
    background-color: lightblue;
    padding: 20px;
}

.whitebox {
    /* Define styles for your boxes, e.g., width, background-color, padding */
    width: 48%;
    /* Example width, adjust as needed */
    background-color: white;
    padding: 20px;
}

.para {
    background: #ba0707;
    font-family: sans-serif;

}



.biglist {
    font-weight: bold;
    background-color: rgb(101, 94, 94);
}

.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding: 8px;
}

.title {
    background: #ffe3ff;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.content {
    background: #e3f4ff;
    margin-bottom: 8px;
    padding: 16px 8px;
}

.button-container {
    background: #e3f4ff;
    text-align: center;
    padding: 8px;

}

button {
    background: white;
    border: 1px solid #eee;
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
}